*.swp
*.log
*.swo
*.swn
*.swm
*.swl
*.swj
*.swk
*.pyc
*.pyo
*.orig
*.pydevproject
*~
*.nnmc
*.ofn
*.ofn2
tags
/build-*
cmake-build-*
softwares
dumps
game_simulator/main/robots.cfg
.cproject
.project
.idea/
.tags*
cscope*
utils/behaviourUtils/build/
GameController*
bin/error.txt
logs/
.virtualenvs/
.vscode/
.qi/
ml_models/*
*.gmm
*.pca
# extra software we build like valgrind & flite
/image/home/nao/2.8
/image/data
# qt (offnao and vatnao) seem to litter this wherever you run it
fontconfig

bin/setup-game.config.sh
*.bbd2*
.DS_Store
/image/home/nao/runswift.build.time
/image/home/nao/runswift.commit.sha
intellisense/include
containers/robot/root.tgz
vision_sandbox/*/build
image.build.time
image.commit.sha